#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end

public class ${CLASS_NAME} extends Boss {

    protected ${CLASS_NAME} {
        super("${NAME}", EntityType.SKELETON);

        setCustomName("${NAME}");
        setHealth(10.0);
    }

}