#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end


import org.bukkit.entity.Projectile;
import org.bukkit.inventory.ItemStack;
import org.mineacademy.fo.menu.tool.Rocket;

public class ${CLASS_NAME} extends BlockTool {

    private static final Tool instance = new ${CLASS_NAME}();

    // Optionally remove this with lombok's @Getter annotation
	public static Tool getInstance() {
		return instance;
	}

    protected RocketTest(Class<? extends Projectile> projectile) {
         super(projectile);
     }

     @Override
     public ItemStack getItem() {
         return null;
     }
}