#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end


import org.bukkit.entity.Player;
import org.bukkit.event.EventHandler;
import org.bukkit.event.Listener;
import org.bukkit.event.entity.EntityDeathEvent;

public class ${CLASS_NAME} implements Listener {

    @EventHandler
	public void onEntityDeath(final EntityDeathEvent event) {
		if (event.getEntity().getKiller() == null)
			return;

		final LivingEntity victim = event.getEntity();

    }    

}