#if (${PACKAGE_NAME} && ${PACKAGE_NAME} != "")package ${PACKAGE_NAME};#end


import org.bukkit.ChatColor;
import org.bukkit.entity.Player;
import org.mineacademy.orion.PlayerCache;

public class ${CLASS_NAME} extends Rank {

    protected ${CLASS_NAME} {
        super("${NAME}", ChatColor.GREEN);
    } 

    @Override
    protected boolean canUpgrade(final Player player, final PlayerCache cache, final Rank rank) {
        return false;
    }

    @Override
    public Rank getNext() {
        return null;;
    }
    
}